---
layout: layouts/base.njk
title: Blog
permalink: /blog/
pagination:
  data: collections.blog
  size: 999
  alias: posts
---
<h1>Blog</h1>
<ul>
  {% for post in posts | reverse %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a> — {{ post.date | readableDate }}</li>
  {% endfor %}
</ul>
